NODE_ENV=local

##########################################################
API_VERSION=0.1.000
##########################################################

PORT=2345
THIS_BASE_URL=http://localhost:2345
SERVICE_NAME=Awards-service
USER_ACCESS_TOKEN_SECRET=<your-user-access-token-secret>
CIPHER_SALT=<your-cipher-salt>
##########################################################

#Database connection details
DB_DIALECT=postgres
DB_USER_NAME=<your-database-username>
DB_USER_PASSWORD=<your-database-password>
DB_NAME=awards
DB_HOST=localhost
DB_PORT=5432

##########################################################

# File storage Storage related details (e.g. aws s3 bucket)

STORAGE_BUCKET=<your-bucket> or <your-local-storage-location, e.g. ../storage/>
STORAGE_BUCKET_ACCESS_KEY_ID=<your-storage-access-key>
STORAGE_BUCKET_ACCESS_KEY_SECRET=<your-storage-access-secret>

##########################################################
